body{ 
	margin: 0; 
	background-color: #eee;
}

#title{
	text-align: center;

}

.proyect {
	display: flex;
	width: 100%;
	align-items: center;
}

.proyect img { width: 50%; }
.proyect div { 
	width: 50%; 
	display: grid;
	grid-template-areas: "input button"
											 "hint output";
	justify-content: center;
	align-items: flex-end;
	grid-gap: 2em;
}

.proyect div input, button {height: 3em;}

.proyect div input { 
	width: 8em;
	border: 0;
	padding: 1px;
	border-bottom: 2px solid #333;
	grid-area: input;
}

.proyect div button {
	width: 6em;
	border: 0;
	background-color: #39bab5;
	border-radius: 5px;
	grid-area: button;
}

.proyect div button:hover{
	animation: .2s normal forwards fill-button;
}

@keyframes fill-button{
	100%{
		background-color: #eee;
	}
}

.proyect div .hint{ grid-area: hint; }

.proyect div p{ 
	text-align: center;
	grid-area: output;
}

#palindrome-section div { order: 1; }
#palindrome-section img { 
	order: 2; 
	filter: hue-rotate(60deg);
}

#caesars-section div { order: 2; }
#caesars-section img { 
	order: 1; 
	filter: hue-rotate(120deg);
}

#roman-section div { order: 1; }
#roman-section img { 
	order: 2; 
	filter: hue-rotate(180deg);
}

#telephone-section div { order: 2; }
#telephone-section img { 
	order: 1; 
	filter: hue-rotate(240deg);
}

#cash-register-section div { 
	order: 1;
	display: flex;
}
#cash-register-section img { 
	order: 2; 
	filter: hue-rotate(360deg);
}


